/*===============================================
common
===============================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: #FFF;
  color: #444444;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.inner {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .inner {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section__title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.1;
  background: linear-gradient(transparent 70%, #99E5A5 70%, #99E5A5 91%, transparent 0);
  padding: 0 4px;
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .section__title {
    margin-bottom: 48px;
  }
}

.tel-link {
  font-size: 2.25rem;
  font-weight: bold;
  color: #21A937;
  padding-left: 41px;
  position: relative;
}
.tel-link::before {
  content: "";
  display: inline-block;
  background-image: url(../img/tell_icon.svg);
  background-size: contain;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bg {
  background-color: #F5FCF8;
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
/*===============================================
header
===============================================*/
.header {
  height: 130px;
}
@media (max-width: 566px) {
  .header {
    height: 160px;
  }
}
.header-inner {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 566px) {
  .header-inner {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.header__logo {
  max-width: 263px;
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 200px;
  }
}
.header__time {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
@media (max-width: 566px) {
  .header__time {
    white-space: nowrap;
  }
}
.header__tel {
  margin-top: -5px;
  text-align: right;
}
@media (max-width: 566px) {
  .header__tel {
    text-align: center;
  }
}

/*===============================================
mv
===============================================*/
.mv {
  background: url(../img/fv.png) no-repeat 76% 30%/cover;
  height: 947px;
}
@media (max-width: 1199px) {
  .mv {
    height: 506px;
  }
}
.mv__title {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: 0.22em;
  font-weight: bold;
  writing-mode: vertical-rl;
  position: relative;
  top: 133px;
  left: 11vw;
  padding-left: calc((100vw - 1920px) / 2);
}
@media (max-width: 1199px) {
  .mv__title {
    top: 160px;
    font-size: 1.7rem;
  }
}
@media (max-width: 767px) {
  .mv__title {
    left: 8vw;
  }
}
.mv__text {
  padding: 24px 35px 62px;
  background-color: #FFF;
}
@media (max-width: 1199px) {
  .mv__text {
    padding-bottom: 32px;
  }
}
@media (max-width: 1199px) {
  .mv__text {
    padding: 18px;
  }
}
.mv__text:nth-child(2) {
  margin-right: 78px;
}
@media (max-width: 1199px) {
  .mv__text:nth-child(2) {
    margin-right: 48px;
  }
}
@media (max-width: 991px) {
  .mv__text:nth-child(2) {
    margin-right: 15px;
  }
}
.mv__text span {
  color: #21A937;
}

/*===============================================
about
===============================================*/
.about {
  padding-top: 160px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .about {
    padding-top: 70px;
  }
}
.about-inner {
  display: flex;
}
@media (max-width: 767px) {
  .about-inner {
    flex-direction: column;
  }
}
.about__content {
  width: 42%;
  padding-left: 2.6%;
  padding-right: 3.7%;
}
@media (max-width: 767px) {
  .about__content {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
.about__title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2rem;
    line-height: 2.5;
  }
}
.about__title span {
  background: linear-gradient(transparent 70%, #99E5A5 0);
}
.about__title span:first-child {
  padding-right: 3px;
}
.about__text {
  font-size: 1.6rem;
  line-height: 2.4;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .about__text {
    text-align: left;
    margin-top: 20px;
  }
}
.about__img {
  width: 59%;
}
@media (max-width: 767px) {
  .about__img {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

/*===============================================
medical
===============================================*/
.medical {
  padding-top: 74px;
  text-align: center;
}
@media (max-width: 767px) {
  .medical {
    padding-top: 70px;
  }
}
.medical__lead {
  font-size: 1.6rem;
  line-height: 2.4;
}
@media (max-width: 566px) {
  .medical__lead {
    font-size: 1.4rem;
  }
}
.medical__lead span {
  white-space: pre;
}
.medical__list {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
@media (max-width: 767px) {
  .medical__list {
    flex-direction: column;
  }
}
.medical__item {
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  background-color: #FFF;
  font-weight: bold;
  padding: 35px 30px 0;
  width: calc(33.33% - 13.3333333333px);
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .medical__item {
    width: 100%;
    padding: 30px 10px 0;
    margin-top: 20px;
  }
}
.medical__title {
  font-size: 2.4rem;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .medical__title {
    font-size: 2rem;
  }
}
.medical__text {
  font-size: 1.6rem;
  line-height: 2.4;
  text-align: left;
  margin-top: 37px;
}
@media (max-width: 767px) {
  .medical__text {
    margin-top: 25px;
  }
}
.medical__img {
  margin-top: auto;
  padding-top: 60px;
}

/*===============================================
news
===============================================*/
.news {
  padding-top: 71px;
  padding-bottom: 110px;
  text-align: center;
}
.news__content {
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  padding: 33px 0 46px;
  margin-top: 8px;
}
.news__list {
  padding: 0 66px;
}
@media (max-width: 767px) {
  .news__list {
    padding: 0 40px;
  }
}
.news__item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #E7E7E7;
  padding: 18px 0;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .news__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.news__itemWrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.news__date {
  font-size: 1.5rem;
  color: #21A937;
  text-align: left;
}
.news__label {
  font-size: 1.2rem;
  color: #FFF;
  background-color: #444444;
  line-height: 2.08;
  margin-left: 35px;
  width: 80px;
}
@media (max-width: 767px) {
  .news__label {
    margin-left: 20px;
    line-height: 1.5;
  }
}
.news__text {
  font-size: 1.6rem;
  text-align: left;
  padding-right: 24px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .news__text {
    margin: 10px 0 10px;
    padding-right: 0;
  }
}
.news__more {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: right;
  margin-top: 38px;
  padding-right: 66px;
  position: relative;
}
.news__more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #444444;
}

/*===============================================
footer
===============================================*/
.footer {
  padding-top: 198px;
  padding-bottom: 162px;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer-inner {
    display: grid;
    grid-template-columns: 51.5% auto;
    grid-template-rows: auto 10.7%;
  }
}
@media (min-width: 768px) {
  .footer__info {
    margin-left: 34px;
    grid-area: 1/2/2/3;
  }
}
@media (max-width: 767px) {
  .footer__info {
    text-align: center;
  }
}
.footer__logo {
  width: 263px;
}
@media (max-width: 767px) {
  .footer__logo {
    margin: 0 auto;
  }
}
.footer__address {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 25px;
}
.footer__address span {
  margin-left: 16px;
}
.footer__tel {
  margin-top: 32px;
  padding-left: 5px;
}
.footer__list {
  font-size: 1.4rem;
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
  padding: 19px 0 10px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer__list {
    margin-bottom: 20px;
    padding-left: calc((100vw - 358px) / 2);
  }
}
.footer__listWrap {
  display: flex;
}
.footer__listWrap:nth-of-type(2) {
  margin-top: 19px;
}
.footer__title {
  font-size: 1.4rem;
  line-height: 1.6;
  padding-left: 5px;
  border-right: 2px solid #E7E7E7;
  flex: 0 0 90.5px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
.footer__time {
  font-size: 1.4rem;
  display: flex;
  padding-bottom: 9px;
}
.footer__time dt {
  display: inline-block;
  margin-left: 28px;
  white-space: nowrap;
}
.footer__time dt.-marker {
  background: linear-gradient(transparent 60%, #99E5A5 60%, #99E5A5 80%, transparent 0);
  margin-bottom: auto;
}
.footer__time dd {
  margin-left: 23px;
}
.footer__time dd span {
  margin-left: 17px;
}
@media (max-width: 1199px) {
  .footer__time dd span {
    margin-left: 0;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__map {
    grid-area: 1/1/3/2;
    height: 440px;
    flex-basis: 608px;
  }
}
@media (max-width: 1199px) {
  .footer__map {
    height: auto;
  }
}
@media (max-width: 767px) {
  .footer__map {
    position: relative;
    padding-top: 72.3684210526%;
  }
}
.footer__map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .footer__map iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.footer__copyright {
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  line-height: 1.45;
  padding-top: 21px;
}
@media (min-width: 768px) {
  .footer__copyright {
    grid-area: 2/2/3/3;
    text-align: right;
  }
}